.content {
  min-height: 100vh;  // occupa tutta l'altezza dello schermo
  gap: 20px;          // spazio tra il form e l'alert
}

.alert-wrapper {
  width: 100%;
  max-width: 400px;   // stessa larghezza del form, aggiusta a piacere
}
form{
    border: 1px solid black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
